version: '2.2'

services:
  valley:
    build: docker
    container_name: stardew
    environment:
      - VNCPASS=${VNC_PASS-nyanyanya}
    ports:
      - ${VNC_PORT-5902}:5900
      - ${STARDEW_VALLEY_PORT-24642}:24642/udp
    volumes:
      - ${STARDEW_SAVE_LOCATION-./valley_saves}:/root/.config/StardewValley/Saves/
    
    stop_grace_period: 1m30s